// ==============================
// Social
// =============================

.social-links {
  padding: 20px;
  text-align: left;

  .iconfont {
    font-size: $social-icon-font-size;

    & + .iconfont {
      margin-left: $social-link-margin-left;
    } 

    &:hover {
      color: $archive-title-hover-color;
    }
  }
}